.card-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
}