.card-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
}