$zeldablue: rgb(55, 198, 255);
.card-link {
    text-decoration: none;
}
.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 1px 10px 1px;
    cursor: pointer;
    width: 120px;
    min-height: 150px;
    transition: 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        h1 {
            color: $zeldablue;
        }
    }
    .item-image {
        margin-top: 10px;
        width: 100px;
        img {
            width: inherit;
            border-radius: 2px;
        }
    }
    .item-name {
        height: 30%;
        width: 100%;
    }
    h1 {
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        font-size: 12px;
        transition: 0.2s ease-in-out;
    }
}